@import "../../main.css";

.panchangRow {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  /* border-bottom: 1px solid var(--pKetu); */
  padding-right: 10px;
  padding-bottom: 0;
  /* background-color: var(--bg-card), var(--opacity-level); */
  background-color: rgb(from var(--bg-light) r g b / var(--opacity-level));
  border-radius: 5px;
  padding: 5px 10px;
}
.panchangSectionTitle {
  color: var(--text-main);
  width: 110px;
  text-transform: capitalize;
  font-weight: bold;
}
.panchangSubTitle,
.panchangSubValue span {
  color: var(--text-main);
  width: 110px;
  text-transform: capitalize;
  font-size: 12px;
}
.panchangSubValue,
.panchangSubValue span div {
  color: var(--primary-color);
}
