@import "../../main.css";

.search-box {
    height: 40px !important;
    /* min-width: 100px !important; */
    padding: 0 14px;
    display: flex;
    justify-self: center !important;
}


/* Responsive - Laptop screens  ------------------------------------------------------------- */
@media screen and (max-width: 1300px) {
    .search-box {
        height: 36px !important;
    }
}