@import "../../main.css";

.search-box {
  height: 40px !important;
  /* min-width: 100px !important; */
  padding: 14px;
  display: flex;
  justify-self: center !important;
  background-color: rgb(from var(--bg-card) r g b / var(--opacity-level));
  color: var(--bg-main);
}

/* Responsive - Laptop screens  ------------------------------------------------------------- */
@media screen and (max-width: 1300px) {
  .search-box {
    height: 36px !important;
  }
}
